# === Статистика языков GitHub (Linguist) ===
frontend_crm/* linguist-vendored=true
frontend_crm/package-lock.json linguist-generated=true

# === Нормализация строк ===
* text=auto eol=lf

# === Бинарные файлы ===
*.png binary
*.jpg binary
*.jpeg binary
*.svg binary
*.ico binary