# Секреты и окружение
.env
.env.*

# Python / FastAPI
__pycache__/
*.py[cod]
.pytest_cache/
venv/
.venv/

# Node.js / React / Vite
frontend_crm/node_modules/
frontend_crm/dist/
frontend_crm/build/
.DS_Store

# База данных и системные файлы
*.db
*.sqlite3
.vscode/
.idea/